.product__item{
    border: 1px solid grey;
}

.button-top{
    background-color:white; /* Green */
    border: 2px solid black;
    border-radius: 5px;
    color: #f08632;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: 600;
}
.button-top a{
    color: #f08632;
}
.button-top a:hover{
    text-decoration: underline;
    color:#f08632 ;
}

div .product__item__text h6{
    font-size:13px;
}