a.register,.signIn{
    color:black;
    font-weight: 600;
    font-size: small;
}
.register:hover{
    text-decoration: underline;
    color: black;
}

.signIn:hover{
    text-decoration: underline;
    color: black;
}
.forgotPwd{
    color:grey;
}
.forgotPwd:hover{
    text-decoration: underline;
    color:grey;
}

@media screen and (max-width:420px ) {
    .categories__item{
        width:100px;
        height:100px;
    }

}

/*@media screen and (max-width: 400px) {*/
/*    .categories__item .categories__item__icon img{*/
/*        width:60%;*/
/*    }*/
/*}*/